.jumbo-cont{
    border-left: 4px solid #fccb03;
}
.no-wrap{
    flex-wrap: nowrap;
}
.jumbo hr.bg-set{
    border: 2px solid #fccb03!important;
    background-color: #fccb03!important;
    color:#fccb03!important;
    width:23px!important;
}
@media (max-width: 769px) {

}